body{
    background-color: #5856b2;
    margin: 5px 5px 5px 130px;
}
.principal-container{
    width: 100%;
    max-width: none;
    height: 100vh;
    border: none;
    border-radius: 20px;
    background-color: #f9fafd;
    overflow: hidden
}