body{
    background-color: #5856b2;
    margin: 5px 5px 5px 130px;
}
.principal-container{
    max-width: 1400px;
    height: calc(100vh - 0px);
    border: none;
    border-radius: 20px;
    background-color: #f9fafd;
    overflow: hidden
}